<div id="page-bg" class="{{currTurtle}}">
    <div id="page-shell">
        <div id="character-title">
            <div class="title-bar darken-turtle-bg">
                <span>{{ninjaTurtles[currTurtle]}}</span>
            </div>
            <div class="icon">
                <img src="assets/images/tmnt_icon_{{currTurtle}}.svg" />
            </div>
        </div>
        <div id="content-shell">
            <h2 class="darken-turtle-border">Biography</h2>
            <div id="nav-btns">
                <div class="bio-btn nav-btn darken-turtle-bg darken-turtle-border">
                    Bio
                </div>
                <div class="weapon-btn nav-btn darken-turtle-bg darken-turtle-border">
                    Weapon
                </div>
            </div>
        </div>
    </div>
</div>