<div #pageShell id="intro-page-shell">
    <div #introTitle id="intro-title">
        <div id="title-bg"></div>
        <div id="title-text">
            <div><img src="assets/images/greensock.svg" width="300" /> It To Me</div>
        </div>
    </div>
    <div #introDesc id="intro-desc">
      Want to see what GSAP is all about? On the next page we'll get creative, have a little fun, and put on some green socks.
    </div>
    <div id="topic-btns-shell" class="clearfix">
        <div #topicBtn class="topic-btn" (click)="btnClick()">Let's Get Started</div>
    </div>
    <div id="border-box">
        <img #gsapMan id="gsap-man" src="assets/images/gsap_logo_man.svg" />
        <div #borderCover id="top-left-cover" class="top-cover"></div>
        <div #borderCover id="top-right-cover" class="top-cover"></div>
        <div #borderCover id="left-cover" class="side-cover"></div>
        <div #borderCover id="right-cover" class="side-cover"></div>
        <div #borderCover id="bottom-left-cover" class="bottom-cover"></div>
        <div #borderCover id="bottom-right-cover" class="bottom-cover"></div>
    </div>
</div>